@charset "utf-8";
/* CSS Document */

	/*CSS Reset*/
	
	body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
		margin:0;
		padding:0;
	}
	table {
		border-collapse:collapse;
		border-spacing:0;
	}
	fieldset,img { 
		border:0;
	}
	address,caption,cite,code,dfn,em,strong,th,var,small {
		font-style:normal;
		font-weight:normal;
	}
	ol,ul {
		list-style:none;
	}
	caption,th {
		text-align:left;
	}
	h1,h2,h3,h4,h5,h6 {
		font-weight:normal;
	}
	q:before,q:after {
		content:'';
	}
	abbr,acronym { border:0;
	}
	
	/* @font-face definitions */
	
	@font-face {
	font-family: 'KulminoituvaRegular';
	src: url('../font/kulminoituva.eot');
	src: local('Kulminoituva Regular'), local('Kulminoituva'), url('../font/kulminoituva.woff') format('woff'), url('../font/kulminoituva.ttf') format('truetype'), url('../font/kulminoituva.svg#Kulminoituva') format('svg');
}
	
	@font-face {
	font-family: 'NotethisRegular';
	src: url('../font/Note_this.eot');
	src: local('Note this Regular'), local('Notethis'), url('../font/Note_this.woff') format('woff'), url('../font/Note_this.ttf') format('truetype'), url('../font/Note_this.svg#Notethis') format('svg');
}

	

	/* General styling */
	
	body {
		background:#202020;	
		font-family: NotethisRegular, Verdana, Arial, sans-serif;
		font-size:125%;
		color:#E8881C;
		
	}
	
	h1, h2, h3, h4, h5, h6 {
	    color: #E8881C;
		font-family: NotethisRegular, KulminoituvaRegular, "Arial Black", Gadget, sans-serif;
		font-size:1.6em;
		
	}
	
	#wrapper {
		width:100%;
		margin:0 auto;
		text-align:center;
		padding-top:50px;
	}
	
	/* Index Card Styling */
	
	ul#index_cards {
		margin-top:50px;
		text-align:center;
	}
	
		ul#index_cards li {
			
			background: rgb(225,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(225,255,255,1) 0%, rgba(253,255,255,1) 8%, rgba(230,248,253,1) 11%, rgba(200,238,251,1) 22%, rgba(225,255,255,1) 29%, rgba(190,228,248,1) 36%, rgba(200,238,251,1) 52%, rgba(225,255,255,1) 72%, rgba(200,238,251,1) 93%, rgba(177,216,245,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(225,255,255,1)), color-stop(8%,rgba(253,255,255,1)), color-stop(11%,rgba(230,248,253,1)), color-stop(22%,rgba(200,238,251,1)), color-stop(29%,rgba(225,255,255,1)), color-stop(36%,rgba(190,228,248,1)), color-stop(52%,rgba(200,238,251,1)), color-stop(72%,rgba(225,255,255,1)), color-stop(93%,rgba(200,238,251,1)), color-stop(100%,rgba(177,216,245,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(225,255,255,1) 0%,rgba(253,255,255,1) 8%,rgba(230,248,253,1) 11%,rgba(200,238,251,1) 22%,rgba(225,255,255,1) 29%,rgba(190,228,248,1) 36%,rgba(200,238,251,1) 52%,rgba(225,255,255,1) 72%,rgba(200,238,251,1) 93%,rgba(177,216,245,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(225,255,255,1) 0%,rgba(253,255,255,1) 8%,rgba(230,248,253,1) 11%,rgba(200,238,251,1) 22%,rgba(225,255,255,1) 29%,rgba(190,228,248,1) 36%,rgba(200,238,251,1) 52%,rgba(225,255,255,1) 72%,rgba(200,238,251,1) 93%,rgba(177,216,245,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(225,255,255,1) 0%,rgba(253,255,255,1) 8%,rgba(230,248,253,1) 11%,rgba(200,238,251,1) 22%,rgba(225,255,255,1) 29%,rgba(190,228,248,1) 36%,rgba(200,238,251,1) 52%,rgba(225,255,255,1) 72%,rgba(200,238,251,1) 93%,rgba(177,216,245,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(225,255,255,1) 0%,rgba(253,255,255,1) 8%,rgba(230,248,253,1) 11%,rgba(200,238,251,1) 22%,rgba(225,255,255,1) 29%,rgba(190,228,248,1) 36%,rgba(200,238,251,1) 52%,rgba(225,255,255,1) 72%,rgba(200,238,251,1) 93%,rgba(177,216,245,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1ffff', endColorstr='#b1d8f5',GradientType=0 ); /* IE6-9 */

			
			
			height:550px;
			width:160px;
			display:block;
			float:left;
			border:1px solid #666;
			padding:25px 10px;
			position:relative;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			-moz-box-shadow: 2px 2px 10px #000;
			-webkit-box-shadow: 2px 2px 10px #000;
			-moz-transition: all 0.5s ease-in-out;
			-webkit-transition: all 0.5s ease-in-out;
		}
	
	
	
	#card-1 {
		-webkit-transform: rotate(-20deg);
		-moz-transform: rotate(-20deg);
		z-index:1;
		left:150px;
		top:40px;
	}
	
	#card-2 {
		-webkit-transform: rotate(-10deg);
		-moz-transform: rotate(-10deg);
		z-index:2;
		left:70px;
		top:10px;
	}
	
	#card-3 {
		background-color:#69732B;
		z-index:3;
	}
	
	#card-4 {
		-webkit-transform: rotate(10deg);
		-moz-transform: rotate(10deg);
		z-index:2;
		right:70px;
		top:10px;
	}
	
	#card-5 {
		-webkit-transform: rotate(20deg);
		-moz-transform: rotate(20deg);
		z-index:1;
		right:150px;
		top:40px;
	}
	
	/* Hover States */
	
	ul#index_cards li:hover {
		z-index:4;
	}
	
	#card-1:hover {
		-moz-transform: scale(1.3) rotate(-18deg);
   	 	-webkit-transform: scale(1.3) rotate(-18deg); 
	}
		
	#card-2:hover {
		-moz-transform: scale(1.3) rotate(-8deg);
   	 	-webkit-transform: scale(1.3) rotate(-8deg); 
	}
	
	#card-3:hover {
		-moz-transform: scale(1.3) rotate(2deg);
   	 	-webkit-transform: scale(1.3) rotate(2deg); 
	}
	
	#card-4:hover {
		-moz-transform: scale(1.3) rotate(12deg);
   	 	-webkit-transform: scale(1.3) rotate(12deg); 
	}
	
	#card-5:hover {
		-moz-transform: scale(1.3) rotate(22deg);
   	 	-webkit-transform: scale(1.3) rotate(22deg); 
	}
	
	/* Content Styling */
	
			ul#index_cards li img {
				margin-top:7px;
				background:#eee;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				-moz-box-shadow: 0px 0px 5px #aaa;
				-webkit-box-shadow: 0px 0px 5px #aaa;
			}
			
			ul#index_cards li p {
				margin-top:4px;
				text-align:left;
				line-height:28px;	
			}